/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar Styles */
.left-bar, .right-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 25px;
    height: 100%;
}

.left-bar {
    border-right: 5px solid red;
}

.right-bar {
    border-left: 5px solid green;
}

/* Center Line */
.center-line {
    width: 8px;
    height: 100%;
    margin: 0 20px;
    background-color: black;
}

/* Info Box Container */
.info-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-box-container div {
    border: 3px solid green;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

/* Text Styles */
.info-box-container h3, 
.info-box-container p {
    padding: 10px;
}

h3 strong {
    padding-bottom: 0px;
}

.info-box-container div p {
    padding-top: 0px;
}

/* Title Container */
.title-container {
    position: relative;
    bottom: 50px;
    font-size: 25px;
    padding: 20px;
}

/* Credential Box */
.credential-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border: 3px solid red;
    padding: 20px;
}

/* Input Box */
.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid green;
    padding: 10px;
}

#username-input, 
#password-input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid red;
}
