<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mourad Ouaragua">
    <meta name="description" content="Sito di prova">
    <link rel="icon" href="immagini/loghi/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Sito di prova</title>
</head>

<body>
    <!-- Sidebar Sinistra -->
    <div class="left-bar">
        <div class="title-container">
            <h2 id="title">TITOLO DI PROVA</h2>
        </div>

        <div class="info-box-container">
            <div class="info-box-1">
                <h3 id="info-box-1-title"><strong>Titolo della info-box 1</strong></h3>
                <p id="info-box-1-text">Testo della info-box 1</p>
            </div>
            <div class="info-box-2">
                <h3 id="info-box-2-title"><strong>Titolo della info-box 2</strong></h3>
                <p id="info-box-2-text">Testo della info-box 2</p>
            </div>
            <div class="info-box-3">
                <h3 id="info-box-3-title"><strong>Titolo della info-box 3</strong></h3>
                <p id="info-box-3-text">Testo della info-box 3</p>
            </div>
        </div>
    </div>

    <!-- Linea Centrale -->
    <div class="margin-wrapper">
        <div class="center-line"></div>
    </div>
    

    <!-- Sidebar Destra -->
    <div class="right-bar">
        <div class="credential-box">
            <h2 id="right-bar-title">Login</h2>
            <div class="input-box">
                <input type="text" id="username-input" name="username" required placeholder="Username" size="30">
                <input type="password" id="password-input" name="password" required placeholder="Password" size="30">
            </div>
            <div class="button-container">
                <button id="login-button" type="submit">Login</button>
            </div>
        </div>
    </div>
</body>
</html>
       
